.cartcard{
    display: flex;
    flex-direction: row;
    height: 140%;
    width: 100%;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    padding: 20px;

}
.img{
    display: flex;
    height: 377px;
    width: 323px;
    margin-top: 0px;
    padding: 10px;
}
.cartrightcard{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
}
.rightcart{
    display: flex;
    width: 100px;
}