.card{
    display: flex;
    flex-direction: column;
    height: 130%;
    width: 90%;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}
.img{
    height:100%;
    width: 75%;
    margin-left: 20px;
    padding: 10px;
}
.rightcard{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.description p{
    height: 3rem;
    overflow: hidden;

}
